.ItemListContainer__greeting {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 36, 36);
	padding: 0px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ItemListContainer__greeting--h1 {
	color: rgb(255, 255, 255);
	font-weight: 400;
	padding: 8px;
}

.ItemListContainer__loading {
	background-color: black;
	padding: 0px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ItemListContainer__loading--h2 {
	color: rgb(255, 255, 255);
	font-weight: 400;
	padding: 8px;
}
