.ItemListContainer__greeting {
	color: rgb(0, 0, 0);
	font-size: 15px;
	background-color: rgb(255, 36, 36);
	padding: 15px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ItemListContainer__greeting--h1 {
	margin-bottom: 20px;
	color: white;
	font-weight: 400;
}
