.Item_Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Item_detail {
	width: 500px;
	height: 300px;
	border: 1px solid black;
	display: flex;
	margin: 20px;
	padding: 10px;
	background-color: rgb(210, 255, 165);
}

img {
	height: 90%;
}

.Item__info {
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
	justify-content: center;
}

.Item__info--description {
	font-size: 13px;
	margin: 2px 0px;
	padding: 10px 0px;
}

.Item__info--stock,
.Item__info--price {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 2px;
}
