.NavBar__logoWidget {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: rgb(172, 171, 171);
	padding: 0px 20px;
}

.NavBar__logoWidget--logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
}

.NavBar__logoWidget--logo img {
	height: 40px;
	margin-right: 10px;
}

.NavBar__logoWidget--logo p {
	font-size: 25px;
	margin-bottom: 6px;
}

.NavBar__logoWidget--cartwidget {
	display: flex;
	align-items: center;
	margin: 20px 0px;
}

.NavBar__logoWidget--cartwidget p {
	margin-left: 10px;
}

.NavBar__categorias {
	height: 40px;
	display: flex;
	justify-content: center;
	color: white;
	background-color: rgb(255, 49, 49);
}

.NavBar__categorias li {
	list-style: none;
	margin: auto 10px;
	text-transform: uppercase;
}

.NavBar__cartWidget--counter {
	margin-left: 10px;
}
