.Item {
	width: 500px;
	height: 300px;
	border: 1px solid black;
	display: flex;
	margin: 20px;
	padding: 10px;
}

img {
	height: 90%;
}

.Item__info {
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
	justify-content: center;
}

.Item__info p {
	font-size: 13px;
	margin: 10px 0px;
}
