* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.App {
	width: 100vw;
	height: 100vh;
	background-color: yellow !important;
}

.app__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.app__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
