.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.contador {
	display: flex;
	justify-content: center;
	padding: 3px;
}

.contador--acumulador {
	border: 2px solid red;
	background-color: red;
	color: rgb(255, 255, 255);
	display: flex;
	font-size: 20px;
	width: 25px;
	height: 25px;
	justify-content: center;
	margin: 5px;
}

.acumulador--btn:enabled {
	border: none;
	width: auto;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 5px;
	font-size: 15px;
	font-weight: 400;
	background-color: red;
}

.acumulador--btn:disabled {
	border: none;
	padding: 5px;
	font-size: 15px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	background-color: grey;
}
